.Header {
  top: 0;
  left: 0;
  display: flex;
  height: 10%;
  background-color: $drk-blue;
  width: 100%;
  font-size: $l-size;
  color: $b-yellow;
  align-items: center;
  justify-content: center;
}
